@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@keyframes filling {
    from{
      background-position: center 25%;
    }
    to {
      background-position: center 50%;
    }
  }
  
  .container-text h1 {
    background-image:  url(https://images.pexels.com/photos/2252307/pexels-photo-2252307.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:  #FFFFFF;
    padding-top: 20px;
    animation: filling 3s ease forwards;
    font-family: 'Bungee', cursive;
    font-weight: bolder;
    font-size: calc(4rem + 5vw);
  }