.site-header {
  background: #eeeeee;
}

.site-header-inner,
.navigation-bar,
article,
aside,
.footer-wigets {
  max-width: 1050px;
  margin: 0 auto;
}

.sidebar {
  /* background: green; */
  border-top: 3px solid #444;
  border-bottom: 3px solid #444;
  margin-bottom: 3rem;
}

.sidebar ul {
  list-style-type: square;
  padding-left: 1rem;
}

.sidebar ul li {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.site-footer {
  background: #444444;
}
.site-footer * {
  color: white;
}

/* simple css grid */

@media screen and (min-width: 768px) {
  .with-sidebar {
    height:100vh;
    display: grid;
    grid-template-columns: 22% 22% 22% 17% 17%;
    grid-template-areas:
      "header header header header header"
      "navigation navigation navigation navigation navigation"
      "content content content sidebar sidebar"
      "footer footer footer footer footer"
    ;
  }
}

.site-header {
  grid-area: header;
  padding: 1rem;
}

.navigation-bar {
  grid-area: navigation;
  position: sticky;
  background: #ffffff;
  top: 0;
  padding: 1rem;
}

.site-main {
  grid-area: content;
  padding: 1rem;
}
.sidebar {
  grid-area: sidebar;
  padding: 1rem;
}
.site-footer {
  grid-area: footer;
  padding: 1rem;
}
